<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Receta</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css"
        type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 column-gap-3 row-gap-5 recipe_wrapper">

        <a href="javascript:history.back()" class="btn-volver"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>

        <form method="post" th:action="@{/recipe/addRating/{id}(id=${recipe.id})}">

            <div class="star-rating" id="star-rating">

                <span class="star" data-value="1">★</span>
                <span class="star" data-value="2">★</span>
                <span class="star" data-value="3">★</span>
                <span class="star" data-value="4">★</span>
                <span class="star" data-value="5">★</span>

            </div>

            <input type="hidden" name="rating" id="rating" value="0">

            <button type="submit" class="category_item">Añadir reseña</button>

        </form>

    </main>

    <script th:src="@{/js/recipeAddRating.js}"></script>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>