<!--Vista enfocada en la evaluacion de una receta mediante la presión de las estrellas como botones-->
<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Receta</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css"
        type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>


<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 recipe_wrapper">

        <!-- Boton de volver atras -->
        <a href="javascript:history.back()" class="btn-volver"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>

        <!-- Input principal para evaluar la receta, este hace un post que aporta info al campo en cuestion-->
        <h1 class="page-title">Valora la receta</h1>

        <div class="recipe-action-container">

            <div class="recipe-action-card">
                <img th:src="@{/recipe/{id}/pic/cover(id=${recipe.id})}" alt="Imagen de la receta">

                <div class="recipe-action-card-body">
                    <h2 th:text="${recipe.title}">Nombre receta</h2>
                    <p th:text="${recipe.author != null ? 'Receta de ' + recipe.author.username : 'Autor desconocido'}"></p>
                </div>
            </div>

            <form method="post" th:action="@{/recipe/addRating/{id}(id=${recipe.id})}" class="recipe-action-form">

                <div class="star-rating" id="star-rating">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>

                <!-- Input oculto para almacenar la puntuación seleccionada -->
                <input type="hidden" name="rating" id="rating" value="0">

                <!-- Boton que envia la evaluacion al controlador-->
                <button type="submit" class="category_item mx-auto">
                    Añadir reseña
                </button>
            </form>

        </div>
    </main>

     <!-- JS para la evaluación de la receta -->
    <script th:src="@{/js/recipeAddRating.js}"></script>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
</html>