<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Evento</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <h1>Vista de Evento</h1>

        <div>
            <h3>Información general</h3>

        </div>

        <div>
            <h3>Apuntarse al evento</h3>

        </div>

        <div>
            <h3>Contacto con organizador</h3>
            
        </div>
    
    </main>
    
</body>

</html>