<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Receta</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <h1>Vista de Receta</h1>
        <img src="">

        <div>
            <h3>Ingredientes</h3>

        </div>

        <div>
            <h3>Elaboración</h3>

        </div>

        <div>
            <h3>Calorías</h3>
            
        </div>
    </main>
    
</body>

</html>