<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css"
        type="text/css"/>
    <title>Vista crear evento</title>
</head>
<body class="d-flex flex-column h-100">

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 container mt-5">
         <!-- Boton para volver -->
        <a href="javascript:history.back()" class="btn-volver"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>
        <h2>Crear nuevo evento</h2>
        <!-- Alerta de error de imagen -->
        <div th:if="${errorImage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>¡Formato no válido!</strong> Solo se permiten imágenes en formato JPG, JPEG o PNG.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <form th:action="@{/event/create}" th:object="${event}" method="post" class="mt-4" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Título del evento(*)</label>
                <input th:field="*{title}" type="text" class="form-control" th:classappend="${#fields.hasErrors('title')}? 'is-invalid' : ''" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>

            <div class="mb-4">
                <label for="photo" class="form-label"> Foto del evento</label>
                <input type="file" name="photo" id="photo" class="form-control" accept="image/jpeg, image/png, .jpg, .jpeg, .png">
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="date" class="form-label">Fecha y hora(*)</label>
                    <input th:field="*{date}" type="datetime-local" class="form-control" th:classappend="${#fields.hasErrors('date')}? 'is-invalid' : ''" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                </div>
                <div class="col-md-6">
                    <label for="location" class="form-label">Ubicación(*)</label>
                    <input th:field="*{location}" type="text" class="form-control" th:classappend="${#fields.hasErrors('location')}? 'is-invalid' : ''" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="price" class="form-label">Precio (€)(*)</label>
                    <input th:field="*{price}" type="number" step="0.01" class="form-control" min="0" th:classappend="${#fields.hasErrors('price')}? 'is-invalid' : ''" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <div class="col-md-4">
                    <label for="capacity" class="form-label">Aforo máximo(*)</label>
                    <input th:field="*{capacity}" type="number" class="form-control" min="1" th:classappend="${#fields.hasErrors('capacity')}? 'is-invalid' : ''" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
                </div>
                <div class="col-md-4">
                    <label for="theme" class="form-label">Temática</label>
                    <input th:field="*{theme}" type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Descripción(*)</label>
                <textarea th:field="*{description}" class="form-control" rows="3" th:classappend="${#fields.hasErrors('description')}? 'is-invalid' : ''" required></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>

            <div class="form-check mb-4">
                <input th:field="*{private}" class="form-check-input" type="checkbox" id="isPrivate">
                <label class="form-check-label" for="isPrivate"> ¿Es un evento privado? </label>
            </div>

            <button type="submit" class="btn btn-primary">Crear evento</button>
            <a th:href="@{/event}" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
</html>