
h1 {
    margin: 20px 0 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Tarjeta de perfiles */
.header-authors {
    margin: 30px;
}

div.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 40px 0 auto 0;
}

div.card {
    background-color: #f0eeee;
    width: 17%;
    margin: 0 20px 0 20px;
}

.card-img-profile {
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.card-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: auto;
}

a.card-link {
    color: black;
    font-weight: 500;
}

a.card-link:hover {
    color: blue;
    font-weight: bold;
}

.list-group-item {
    background-color: #f0eeee;
}