#community-name {
    background-color: #03aa65;
    display: block;
    text-align: center;
}

#community-desc {
    background-color: #03aa65;
    text-align: center;
    font-size: 1.5em;
}

#community-data {
    display: flex;
    height: 100%;
}

#community-content {
    background-color: gray;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

#community-users {
    background-color: #fd7a7a;
    display: inline;
    width: 20%;
    text-align: center;
    align-content: center;
}

#search-community-bar{
    margin: 20px 0 0 0;
}

.btn-busqueda {
    background-color: white;
    color: #40b6f1;
    border: 2px solid #40b6f1;

}

.btn-busqueda:hover{
    background-color: #40b6f1;
    color: white;
    border-color:#40b6f1;
}