/* usa este fichero para personalizar tus vistas */

/*Cosas comunes*/
/* Reset basico para asegurar consistencia entre navegadores */
*{
    margin: 0;              /* quitar margenes */
    padding: 0;             /* quitar rellenos */
    box-sizing: border-box; /* mismas dimensiones */
}

/* Cabecera y titulo principal */
main .container > h1 {
    color: #494B4D;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}
/*-----------------------------------*/

/* Estilos ya creados por el profesor*/
.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}
/*-----------------------------------*/

/*Categorias*/
/* Contenedor de filtros (Flexbox centrado) */
.category_list{
    display: flex;
    justify-content: center;
}

/* Botones de categorias (filtros) */
.category_item{
    display: block;
    padding: 10px 25px;
    margin-right: 15px;
    background: #40b6f1;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color:black;
    transition: all 0.3s ease;
}

/* Estado hover */
.category_item:hover{
   transform: translateY(-2px);
   background: #397fca;
   color: white;
}

/* Estado activo*/
.category_list .ct_item_active{
    background: #2e69a8;
}
/*----------------------------------*/

/*Elementos eventos*/
/* Grid de eventos mediante Flexbox */
.cards_list{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}
/*------------------*/

/*UPDATE HTML*/
/* Formato basico para cartas de presentacion */
.cards_list .card_item{
    width: 30%;
    margin-left: 3%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animacion transicion al mostrar y ocultar evento */
    transition: opacity 0.4s ease, transform 0.4s ease, box-shadow 0.3s;
    transform: scale(1);
    opacity: 1;
    border-radius: 10px;
}

/*UPDATE HTML*/
/* Efecto hover*/
.card_item:hover {
    transform: translateY(-10px);
}

/*UPDATE HTML*/
/* Enlace que hace clicable toda la tarjeta*/
.card_link{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*Sustitucion por background de comunidades*/
.cards_list .card_item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/*UPDATE HTML*/
/* Pie de la card */
.card_footer {
    display: block;
    width: 100%;
    padding: 8px 8px;
    background: #1e354e;
    text-align: center;
    text-decoration: none;
    color:white;
    border-radius: 0 0  10px 10px;
}

/*UPDATE HTML*/
/* Boton de navegador de busqueda */
.btn_search {
    background-color: white;
    color: #40b6f1;
    border: 2px solid #40b6f1;
}

/*UPDATE HTML*/
.btn_search:hover{
    background-color: #40b6f1;
    color: white;
    border-color:#40b6f1;
}

/*UPDATE HTML*/
/* Boton de papelera */
.btn_delete{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    padding: 0;
    text-decoration: none;
    color: #ff2b2b;
}

/*UPDATE HTML*/
.btn_delete svg{
    width: 28px;
    height: 28px;
    color: white;
}

/*UPDATE HTML*/
.btn_delete:hover{
   background-color: red;
    border-color:red;
   transform: scale(1.1);
}

.title_xxl{
    font-size: 75px;
    color: black;
    text-transform: capitalize;
}

.title_m{
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin-left: 1rem;
}

.recipe_wrapper{
    margin-top: 15px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(241, 191, 154);
}

.empty_image_input{
    display: none;
}

.empty_image{

    height: 200px;
    width: 200px;
    background-color: rgb(180, 180, 180);
    transition: background-color 0.3s; /*Transicion del color del texto al pasar el raton por encima*/
    transition: height 0.3s;
    transition: width 0.3s;
}

.empty_image:hover{

    height: 215px;
    width: 215px;
    background-color: rgb(137, 137, 137);
}

.main_image{

    max-height: 500px;
    max-width: 500px;
    object-fit: contain;
    border-radius: 5%;
}

.list_disc{
    list-style-type: disc;
}

.editable {
    position: relative;
    color: black;
}

.editable:empty::before{
    content: attr(data-placeholder);
    color: gray;
}