*{
    margin: 0;  /* quitar margenes*/
    padding: 0; /* quitar rellenos-*/
    box-sizing: border-box; /*mismas dimensiones*/
}

main .container > h1 {

    color: #494B4D;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

.category_list{
    display: flex;
    justify-content: center;
}

.category_list .category_item{
    display: block;
    padding: 10px 25px;
    margin-right: 15px;
    background: #40b6f1;

    border-radius: 50px;

    text-align: center;
    text-decoration: none;
    color:black;
}

.category_list .category_item:hover{
   transform: translateY(-2px);
   background: #397fca;
   color: white;
}

.category_list .ct_item_active{
    background: #2e69a8;
}

.events_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.events_list .event_item{
    width: 30%;
    margin-left: 3%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;

    /* Transicion al mostrar y ocultar evento*/
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: scale(1);
    opacity: 1;
}

.events_list .event_item img{
    width: 100%;
}

.events_list .event_item a{
    display: block;
    width: 100%;
    padding: 8px 8px;
    background: #1e354e;

    text-align: center;
    text-decoration: none;
    color:white;
}

.btn-busqueda {
    background-color: white;
    color: #40b6f1;
    border: 2px solid #40b6f1;

}

.btn-busqueda:hover{
    background-color: #40b6f1;
    color: white;
    border-color:#40b6f1;
}

.btn-delete-event{
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    font-size: 0.8rem;
}

.btn-delete-event:hover{
   background-color: red;
   box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}