/* Reset basico para asegurar consistencia entre navegadores */

*{
    margin: 0;              /* quitar margenes */
    padding: 0;             /* quitar rellenos */
    box-sizing: border-box; /* mismas dimensiones */
}

/* Cabecera y titulo principal */
main .container > h1 {
    color: #494B4D;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

/* Contenedor de filtros (Flexbox centrado) */
.category_list{
    display: flex;
    justify-content: center;
}

/* Botones de categorias (filtros) */
.category_list .category_item{
    display: block;
    padding: 10px 25px;
    margin-right: 15px;
    background: #40b6f1;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color:black;
    transition: all 0.3s ease;
}

/* Estado hover */
.category_list .category_item:hover{
   transform: translateY(-2px);
   background: #397fca;
   color: white;
}

/* Estado activo*/
.category_list .ct_item_active{
    background: #2e69a8;
}

/* Grid de eventos mediante Flexbox */
.events_list{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

/* Card individual de cada evento */
.events_list .event_item{
    width: 30%;
    margin-left: 3%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animacion transicion al mostrar y ocultar evento */
    transition: opacity 0.4s ease, transform 0.4s ease, box-shadow 0.3s;
    transform: scale(1);
    opacity: 1;
    border-radius: 10px;
}

/* Efecto hover*/
.event_item:hover {
    transform: translateY(-10px);
}

/* Enlace que hace clicable toda la tarjeta*/
.event_card_link{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.events_list .event_item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Pie de la card */
.event_title {
    display: block;
    width: 100%;
    padding: 8px 8px;
    background: #1e354e;
    text-align: center;
    text-decoration: none;
    color:white;
    border-radius: 0 0  10px 10px;
}

/* Boton de navegador de busqueda */
.btn-busqueda {
    background-color: white;
    color: #40b6f1;
    border: 2px solid #40b6f1;
}

.btn-busqueda:hover{
    background-color: #40b6f1;
    color: white;
    border-color:#40b6f1;
}

/* Boton de papelera */
.btn-delete-event{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    padding: 0;
    text-decoration: none;
    color: #ff2b2b;
}

.btn-delete-event svg{
    width: 28px;
    height: 28px;
    color: white;
}

.btn-delete-event:hover{
   background-color: red;
    border-color:red;
   transform: scale(1.1);
}


