*{
    margin: 0;  /* quitar margenes*/
    padding: 0; /* quitar rellenos-*/
    box-sizing: border-box; /*mismas dimensiones*/
}

main .container > h1 {

    color: #494B4D;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

.category_list{
    display: flex;
    justify-content: center;
}

.category_list .category_item{
    display: block;
    padding: 15px 15px;
    margin-right: 20px;
    background: #40b6f1;

    text-align: center;
    text-decoration: none;
    color:black;
}

.category_list .ct_item_active{
    background: #2e69a8;
}

.events_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.events_list .event_item{
    width: 30%;
    margin-left: 3%;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.events_list .event_item img{
    width: 100%;
}

.events_list .event_item a{
    display: block;
    width: 100%;
    padding: 8px 8px;
    background: #1e354e;

    text-align: center;
    text-decoration: none;
    color:white;
}