.recipe_title{
    font-size: 75px;
    color: black;
    text-transform: capitalize;
}

.recipe_wrapper{
    margin-top: 15px;
    padding: 15px 30px 15px 30px;

}

.recipe_empty_image{

    height: 200px;
    width: 200px;
    background-color: rgb(180, 180, 180);
}

.recipe_main_image{

    max-height: 500px;
    max-width: 500px;
    object-fit: contain;
    border-radius: 5%;
}

.recipe_ingredients_list{
    list-style-type: disc;
}

.editable {
    position: relative;
    color: black;
}

.editable:empty::before{
    content: attr(data-placeholder);
    color: gray;
}
