.title_xxl{
    font-size: 75px;
    color: black;
    text-transform: capitalize;
}

.title_m{
    font-size: 15px;
    color: black;
    text-transform: capitalize;
    margin-left: 1rem;
}

.recipe_wrapper{
    margin-top: 15px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(241, 191, 154);
}

.empty_image_input{
    display: none;
}

.empty_image{

    height: 200px;
    width: 200px;
    background-color: rgb(180, 180, 180);
    transition: background-color 0.3s; /*Transicion del color del texto al pasar el raton por encima*/
    transition: height 0.3s;
    transition: width 0.3s;
}

.empty_image:hover{

    height: 215px;
    width: 215px;
    background-color: rgb(137, 137, 137);
}

.main_image{

    max-height: 500px;
    max-width: 500px;
    object-fit: contain;
    border-radius: 5%;
}

.list_disc{
    list-style-type: disc;
}

.editable {
    position: relative;
    color: black;
}

.editable:empty::before{
    content: attr(data-placeholder);
    color: gray;
}
