.container-reserva{
    margin-top: 50px;
}

.box-rounded {
    border: 4px solid #1e354e;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.img-evento {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 2px solid #1e354e;
    border-radius: 25px;
}

.btn-reservar {
    background: #2e69a8;
    text-align: center;
    text-decoration: none;
    color:black;
    border-radius: 50px;
    font-weight: bold;
    width: 50%;
    padding: 10px 25px;
    transition: all 0.3s ease;
}

.btn-reservar:hover {
    transform: translateY(-2px);
    background: #397fca;
    cursor: pointer;
    color: white;
}

.btn-volver {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #40b6f1;
    border-radius: 50%;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    padding: 0;
    text-decoration: none;
    background-color: white;
    color: #40b6f1;
    transition: all 0.3s ease;
}

.btn-volver svg{
    width: 28px;
    height: 28px;
}

.btn-volver:hover{
    background-color: #40b6f1;
    color: white;
    border-color:#40b6f1;
    transform: scale(1.1);
}