<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Cuenta</title>

    <link rel="stylesheet" th:href="@{/css/account.css}" href="css/account.css"/>

    <script th:src="@{/js/account.js}"></script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">

        <div class="container py-5">

            <!-- Titulo -->
            <h1>Mi perfil</h1>

            <div class="profile_wrapper">
                <div class="options_list">
                    <a href="#" class="option_item ct_item_active" option="data">Datos personales</a>
                    <a href="#" class="option_item" option="recipes">Mis recetas</a>
                    <a href="#" class="option_item" option="communities">Mis comunidades</a>
                    <a href="#" class="option_item" option="events">Mis eventos</a>
                    <a href="#" class="option_item" option="configuration">Configuración</a>
                    <a href="#" class="option_item" option="log_out">Log out</a>
                </div>
                <div class="option_view">
                    <div id="data" class="view_content">
                        <h2>Datos personales</h2>
                      <!--- <p>Nombre: <span th:text="${u.firstName + ' ' + u.lastName}">Nombre Usuario</span></span></p>--> 
                    </div>
                    <div id="recipes" class="view_content d-none">
                        <h2>Mis recetas</h2>
                        <p> Aquí aparecerán todas tus recetas subidas</p>
                    </div>
                   <div id="communities" class="view_content d-none">
                        <h2>Mis comunidades</h2>
                        <p> Aquí aparecerán las comunidades a las que perteneces</p>
                    </div>
                    <div id="events" class="view_content d-none">
                        <h2>Mis eventos</h2>
                        <p> Aquí aparecerá un calendario con los eventos a los que te has apuntado</p>
                    </div>
                    <div id="configuration" class="view_content d-none">
                        <h2>Configuración</h2>
                    </div>
                </div>
            </div>
        </div>
        

    </main>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>