<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Cuenta</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <h1>Vista de Cuenta</h1>

        <div>
            <h3>Información personal</h3>

        </div>

        <div>
            <h3>Mis recetas</h3>

        </div>

        <div>
            <h3>Mis Comunidades</h3>
            
        </div>

        <div>
            <h3>Calendario eventos</h3>
            
        </div>
        
    </main>
    
</body>

</html>