<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Admin</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
            <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
            type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">

        <div class="container">
            <h1 class="mt-5">Administración</h1>
        </div>

        <!-- Barra de busqueda de bootstrap -->
        <div class="row justify-content-center mb-4" id="search-community-bar">

            <!--
            <div id="search-inputs">
                <form class="d-flex" role="search" id="search-form">
                    <button class="btn btn-busqueda" type="submit" id="search-button">
                        Buscar
                    </button>
                </form>
            </div>
            -->
            <div class="admin-filters d-flex align-items-center ms-4">
                <!-- Filtrar para mostrar usuarios, recetas, comunidades o eventos-->
                <label for="filters" class="me-2 text-muted fw-bold mb-0">Filtrar por: </label>

                <select name="filters" id="admin-filters-value" class="form-select border-primary text-primary fw-semibold shadow-sm" style="cursor: pointer; width: auto; border-radius: 8px;">
                    <option value="users">Usuario</option>
                    <option value="recipes">Receta</option>
                    <option value="communities">Comunidad</option>
                    <option value="events">Evento</option>
                </select>
            </div>

        </div>

        <div class="container" id="container-users">

            <!-- Usuarios muestra id, user, nombre y apellidos, rol-->
            <h2 class="mt-5 text-center fw-bold">Usuarios</h2>
            <table id="tabla-usuarios" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Usuario</th>
                        <th class="
                        nter">Nombre y Apellidos</th>
                        <th class="text-center">Roles</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${users}">

                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <span th:if="${user.firstName != null}" th:text="${user.firstName}"></span>
                            <span th:if="${user.lastName != null}" th:text="${user.lastName}"></span>
                            <!-- Por si no se han introducido nombre y apellidos-->
                            <span th:if="${user.firstName == null and user.lastName == null}" class="text-muted fst-italic">Sin especificar</span>
                        </td>
                        
                        <td th:text="${user.roles}"></td>

                        <td>
                            <!-- Admin puede deshabilitar o habilitar usuarios-->
                            <form th:if="${user.id != u.id}" th:action="@{'/admin/toggle/' + ${user.id}}" th:method="post">
                                <button th:if="${user.enabled}" type="submit"
                                    class="toggle btn btn-danger">Deshabilitar</button>
                                <button th:unless="${user.enabled}" type="submit"
                                    class="toggle btn btn-primary">Habilitar</button>
                            </form>
                        </td>

                    </tr>
                </tbody>
            </table>
            <!--
            <button type="button" id="truco" class="btn btn-danger">Hacer demo trucada</button>
            !-->
        </div>

        <div class="container" id="container-recipes">
            <!-- Recetas muestra id, titulo y creador-->
            <h2 class="mt-5 text-center fw-bold">Recetas</h2>
            <table id="tabla-recetas-dt" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Creador</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.id}"></td>
                        <td th:text="${recipe.title}"></td>
                        <td th:text="${recipe.author.username}"></td>
                        <td>
                            <!-- El admin puede eliminar una receta-->
                            <form th:action="@{'/admin/recipe/' + ${recipe.id} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container" id="container-communities">
            <!-- Comunidades muestra id, nombre, tematica, creador y numero de miembros-->
            <h2 class="mt-5 text-center fw-bold">Comunidades</h2>
            <table id="tabla-comunidades-dt" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Temática</th>
                        <th class="text-center">Creador</th>
                        <th class="text-center">Miembros</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="community : ${communities}">
                        <td th:text="${community.id}"></td>
                        <td th:text="${community.title}"></td>
                        <td th:text="${community.country.countryName}"></td>
                        <td th:text="${community.owner.username}"></td>
                        <td th:text="${community.members.size()}"></td>
                        <td>
                             <!-- El admin puede eliminar una comunidad-->
                            <form th:action="@{'/admin/community/' + ${community.id} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container" id="container-events">
             <!-- Eventos muestra id, nombre, creador, localizacion y fecha-->
            <h2 class="mt-5 text-center fw-bold">Eventos</h2>
            <table id="tabla-eventos-dt" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Creador</th>
                        <th class="text-center">Localización</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${events}">
                        <td th:text="${event.id}"></td>
                        <td th:text="${event.title}"></td>
                        <td th:text="${event.organizer.username}"></td>
                        <td th:text="${event.location}"></td>
                        <td th:text="${#temporals.format(event.date, 'dd/MM/yyyy HH:mm')}"></td>
                        <td>
                             <!-- El admin puede cancelar un evento-->
                            <form th:action="@{'/admin/event/' + ${event.id} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--
        <div class="container">

            <h2>Últimos 5 mensajes del sistema</h2>
            <table id="messages"></table> 
            <button id="refresh" class="btn btn-primary">Actualizar vía AJAX</button>

        </div>
        !-->

        <!-- Lista de quejas sin resolver -->
        <div class="container mt-5" id="complaints-admin-section">
            <details open class="mb-4">
                <summary class="communities-dropdown">Quejas sin resolver</summary>

                <section class="cards_list complaints_cards_list">
                    <div class="card_item" th:each="compl: ${complaints}" th:if="${compl.resolved == false}">

                        <div class="card_wrapper">

                            <!--Enlace a la informacion de la receta-->
                            <a th:href="@{/complaint/{id}(id=${compl.id})}" class="card_link">

                                <span class="card_footer" th:text="${compl.title}">Título</span>
                                
                            </a>

                        </div>                       
                        
                    </div>

                </section>

            </details>

            <!-- Lista de quejas resueltas -->
            <details open class="mb-4">
                <summary class="communities-dropdown">Quejas resueltas</summary>

                <section class="cards_list complaints_cards_list">
                    <div class="card_item" th:each="compl: ${complaints}" th:if="${compl.resolved == true}">

                            <div class="card_wrapper">

                                <a th:href="@{/complaint/{id}(id=${compl.id})}" class="card_link">

                                    <span class="card_footer" th:text="${compl.title}">Título</span>
                                    
                                </a>                                      

                            </div>
                        
                    </div>

                </section>

            </details>
        </div>

    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script>
        // Escucha cualquier envio de formulario en la vista
        document.addEventListener('submit', (e) => {
           
            // Comprobar si el boton que ha enviado el form tiene la clase toggle
            if(e.submitter && e.submitter.classList.contains('toggle')) {
                
                e.preventDefault();

                // Guardar el form y el boton que se ha pulsado
                const form = e.target;
                const button = e.submitter;

                // Enviar peticion post
                go(form.action, 'POST').then((d) => {
                    // Si el usuario queda habilitado
                    if (d.enabled) {
                        button.className = 'toggle btn btn-danger';
                        button.textContent = 'Deshabilitar';
                    } 
                    // Si queda deshabilitado
                    else {
                        button.className = 'toggle btn btn-primary';
                        button.textContent = 'Habilitar';
                    }
                    console.log(d);
                }).catch(error => {
                    console.error("Error al cambiar el estado:", error);
                });
            }
        });
    </script>

    <script type="module">
        import { DataTable } from "../js/simple-datatables-10.js"

        // Para configurar el estilo comun de las tablas
        const dtConfig = {
            searchable: true,
            paging: true,
            labels: {
                placeholder: "Buscar",
                perPage: "entradas por página",
                noRows: "No hay datos para mostrar",
                info: "Mostrando {start} a {end} de {rows} entradas",
            }
        };

        // Crear tablas dinamicas para usuarios, recetas, comunidades y eventos
        const tableUsuarios = new DataTable('#tabla-usuarios', dtConfig);
        const tableRecetas = new DataTable('#tabla-recetas-dt', dtConfig);
        const tableComunidades = new DataTable('#tabla-comunidades-dt', dtConfig);
        const tableEventos = new DataTable('#tabla-eventos-dt', dtConfig);

        // Tabla de mensajes
        let dt = null;

        // Actualizar la tabla de mensajes
        function refreshMessages() {

            // Pedir mensajes mediante peticion GET
            go('/admin/all-messages', 'GET').then((d) => {
                
                // Destruir tabla si ya existia
                if (dt) {
                    dt.destroy();
                    document.querySelector("#messages").innerHTML = '';
                }

                // Crear tabla nueva con los mensajes recibidos
                dt = new DataTable('#messages', {
                    data: {
                        headings: ['from', 'to', 'text'],
                        data: d
                    },
                    searchable: true,
                    paging: false
                });

                // Evento al seleccionar una fila de la tabla
                dt.on("datatable.selectrow", (rowIndex, event, focused) => {
                    event.preventDefault();
                    console.log("click en fila: ", dataTable.data[rowIndex]);
                });
            });
        }

        // Al pulsar el boton se actualiza la tabla de mensajes
        document.getElementById('refresh').addEventListener('click', refreshMessages);
        
        // Cargar los mensajes una vez al abrir la pagina
        refreshMessages();


        const otroUsuario = `
        <tr>
            <td>2</td>
            <td>b</td>
            <td>null null</td>
            <td>
                <ul>
                    <li>USER</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>[]</li>
                </ul>
            </td>
            <td>
                <form action="/admin/toggle/2" method="post"><input type="hidden" name="_csrf" value="JjsRZNRTysCGFQE0Mdye-1UGmuMF_60cX7q4bvvVcB-hB6HOFQohVuFk__GrJjkNVPGqyjBjt9o1npoxaIvaW8ngQS-QZJj3"/>
                    <button type="submit"
                        class="toggle btn btn-danger">Deshabilitar</button>
                    
                </form>
            </td>
        </tr>`;
        
        document.querySelector('#truco').addEventListener('click', () => {
            const tbody = document.querySelector("#tabla-usuarios");
            tbody.insertAdjacentHTML('beforeend', otroUsuario);
        });

    </script>
</body>

<script th:src="@{/js/admin.js}"></script>

</html>
