<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Admin</title>
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">

        <div class="container">
            <h1 class="mt-5">Administración</h1>
        </div>

        <!-- Barra de busqueda de bootstrap -->
        <div class="row justify-content-center mb-4" id="search-community-bar">

            <!--
            <div id="search-inputs">
                <form class="d-flex" role="search" id="search-form">
                    <button class="btn btn-busqueda" type="submit" id="search-button">
                        Buscar
                    </button>
                </form>
            </div>
            -->
            <div class="admin-filters d-flex align-items-center ms-4">
                <label for="filters" class="me-2 text-muted fw-bold mb-0">Filtrar por: </label>

                <select name="filters" id="admin-filters-value" class="form-select border-primary text-primary fw-semibold shadow-sm" style="cursor: pointer; width: auto; border-radius: 8px;">
                    <option value="users">Usuario</option>
                    <option value="recipes">Receta</option>
                    <option value="communities">Comunidad</option>
                    <option value="events">Evento</option>
                </select>
            </div>

        </div>

        <div class="container" id="container-users">

            <h2 class="mt-5 text-center fw-bold">Usuarios</h2>
            <table id="tabla-usuarios" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Usuario</th>
                        <th class="
                        nter">Nombre y Apellidos</th>
                        <th class="text-center">Roles</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${users}">

                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td>
                            <span th:if="${user.firstName != null}" th:text="${user.firstName}"></span>
                            <span th:if="${user.lastName != null}" th:text="${user.lastName}"></span>
                            <span th:if="${user.firstName == null and user.lastName == null}" class="text-muted fst-italic">Sin especificar</span>
                        </td>
                        
                        <td th:text="${user.roles}"></td>

                        <td>
                            <form th:if="${user.id != u.id}" th:action="@{'/admin/toggle/' + ${user.id}}" th:method="post">
                                <button th:if="${user.enabled}" type="submit"
                                    class="toggle btn btn-danger">Deshabilitar</button>
                                <button th:unless="${user.enabled}" type="submit"
                                    class="toggle btn btn-primary">Habilitar</button>
                            </form>
                        </td>

                    </tr>
                </tbody>
            </table>
            <!--
            <button type="button" id="truco" class="btn btn-danger">Hacer demo trucada</button>
            !-->
        </div>

        <div class="container" id="container-recipes">
            <h2 class="mt-5 text-center fw-bold">Recetas</h2>
            <table id="tabla-recetas-dt" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Título</th>
                        <th class="text-center">Creador</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.id}"></td>
                        <td th:text="${recipe.title}"></td>
                        <td th:text="${recipe.author.username}"></td>
                        <td>
                            <form th:action="@{'/admin/recipe/' + ${recipe.id} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container" id="container-communities">
            <h2 class="mt-5 text-center fw-bold">Comunidades</h2>
            <table id="tabla-comunidades-dt" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Temática</th>
                        <th class="text-center">Creador</th>
                        <th class="text-center">Miembros</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="community : ${communities}">
                        <td th:text="${community.id}"></td>
                        <td th:text="${community.title}"></td>
                        <td th:text="${community.country.countryName}"></td>
                        <td th:text="${community.owner.username}"></td>
                        <td th:text="${community.members.size()}"></td>
                        <td>
                            <form th:action="@{'/admin/community/' + ${community.id} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container" id="container-events">
            <h2 class="mt-5 text-center fw-bold">Eventos</h2>
            <table id="tabla-eventos-dt" class="table table-striped table-hover text-center align-middle">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Creador</th>
                        <th class="text-center">Localización</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${events}">
                        <td th:text="${event.id}"></td>
                        <td th:text="${event.title}"></td>
                        <td th:text="${event.organizer.username}"></td>
                        <td th:text="${event.location}"></td>
                        <td th:text="${#temporals.format(event.date, 'dd/MM/yyyy HH:mm')}"></td>
                        <td>
                            <form th:action="@{'/admin/event/' + ${event.id} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--
        <div class="container">

            <h2>Últimos 5 mensajes del sistema</h2>
            <table id="messages"></table> 
            <button id="refresh" class="btn btn-primary">Actualizar vía AJAX</button>

        </div>
        !-->

        <!-- Lista de recetas del usuario propias -->
        <details open>
            <summary class="communities-dropdown">Quejas sin resolver</summary>

            <section class="cards_list">
                <div class="card_item" th:each="compl: ${complaints}">

                    <!--Criba de recetas para que solo sean las propias-->
                    <div th:if="${compl.resolved == false}">

                        <div class="card_wrapper">

                            <!--Enlace a la informacion de la receta-->
                            <a th:href="@{/complaint/{id}(id=${compl.id})}" class="card_link">

                                <span class="card_footer_middle" th:text="${compl.title}">Título</span>
                                <span class="card_footer" th:text="${compl.type}">Tipo</span>
                                
                            </a>

                            <!-- Botón de eliminar solo visible para el autor o admin -->
                            
                            <div class="d-flex flex-row gap-3 align-items-center">

                                <form th:action="@{/complaint/{id}/delete(id=${compl.id})}" method="post">
                                    <button type="submit" onclick="return confirm('¿Seguro que quieres borrar esta queja?')"
                                        class="btn btn-danger btn-sm mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>
                                </form>

                            </div>
                            

                        </div>
                        

                    </div>
                    
                </div>

            </section>

        </details>

        <!-- Lista de recetas publicas de otros usuarios -->
        <details open>
            <summary class="communities-dropdown">Quejas resueltas</summary>

            <section class="cards_list">
                <div class="card_item" th:each="compl: ${complaints}">

                    <!--Criba de recetas para que solo sean las propias-->
                    <div th:if="${compl.resolved == true}">

                        <div class="card_wrapper">

                            <!--Enlace a la informacion de la receta-->
                            <a th:href="@{/complaint/{id}(id=${compl.id})}" class="card_link">

                                <span class="card_footer_middle" th:text="${compl.title}">Título</span>
                                
                            </a>

                            <!-- Botón de eliminar solo visible para el autor o admin -->
                            
                            <div class="d-flex flex-row gap-3 align-items-center">

                                <form th:action="@{/complaint/{id}/delete(id=${compl.id})}" method="post">
                                    <button type="submit" onclick="return confirm('¿Seguro que quieres borrar esta queja?')"
                                        class="btn btn-danger btn-sm mt-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>
                                </form>

                            </div>
                            

                        </div>
                        

                    </div>
                    
                </div>

            </section>

        </details>


    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script>
        document.addEventListener('submit', (e) => {
           
            if(e.submitter && e.submitter.classList.contains('toggle')) {
                
                e.preventDefault();

                const form = e.target;
                const button = e.submitter;

                go(form.action, 'POST').then((d) => {
                    if (d.enabled) {
                        button.className = 'toggle btn btn-danger';
                        button.textContent = 'Deshabilitar';
                    } else {
                        button.className = 'toggle btn btn-primary';
                        button.textContent = 'Habilitar';
                    }
                    console.log(d);
                }).catch(error => {
                    console.error("Error al cambiar el estado:", error);
                });
            }
        });
    </script>

    <script type="module">
        import { DataTable } from "../js/simple-datatables-10.js"

        // Para configurar el estilo de las tablas
        const dtConfig = {
            searchable: true,
            paging: true,
            labels: {
                placeholder: "Buscar",
                perPage: "entradas por página",
                noRows: "No hay datos para mostrar",
                info: "Mostrando {start} a {end} de {rows} entradas",
            }
        };

        const tableUsuarios = new DataTable('#tabla-usuarios', dtConfig);
        const tableRecetas = new DataTable('#tabla-recetas-dt', dtConfig);
        const tableComunidades = new DataTable('#tabla-comunidades-dt', dtConfig);
        const tableEventos = new DataTable('#tabla-eventos-dt', dtConfig);

        let dt = null;
        function refreshMessages() {
            go('/admin/all-messages', 'GET').then((d) => {
                if (dt) {
                    dt.destroy();
                    document.querySelector("#messages").innerHTML = '';
                }
                dt = new DataTable('#messages', {
                    data: {
                        headings: ['from', 'to', 'text'],
                        data: d
                    },
                    searchable: true,
                    paging: false
                });
                dt.on("datatable.selectrow", (rowIndex, event, focused) => {
                    event.preventDefault();
                    console.log("click en fila: ", dataTable.data[rowIndex]);
                });
            });
        }
        document.getElementById('refresh').addEventListener('click', refreshMessages);
        refreshMessages();


        const otroUsuario = `
        <tr>
            <td>2</td>
            <td>b</td>
            <td>null null</td>
            <td>
                <ul>
                    <li>USER</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>[]</li>
                </ul>
            </td>
            <td>
                <form action="/admin/toggle/2" method="post"><input type="hidden" name="_csrf" value="JjsRZNRTysCGFQE0Mdye-1UGmuMF_60cX7q4bvvVcB-hB6HOFQohVuFk__GrJjkNVPGqyjBjt9o1npoxaIvaW8ngQS-QZJj3"/>
                    <button type="submit"
                        class="toggle btn btn-danger">Deshabilitar</button>
                    
                </form>
            </td>
        </tr>`;
        
        document.querySelector('#truco').addEventListener('click', () => {
            const tbody = document.querySelector("#tabla-usuarios");
            tbody.insertAdjacentHTML('beforeend', otroUsuario);
        });

    </script>
</body>

<script th:src="@{/js/admin.js}"></script>

</html>
