<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>ChefMeet autores</title>
    <link rel="stylesheet" th:href="@{/css/profiles.css}" href="/css/profiles.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div>
        <h1 class="header-authors"> Autores </h1>
    </div>

    <div class="cards">

        <div class="card">
            <img th:src="@{/img/Adrian.jpg}" src="/img/Adrian.jpg" class="card-img-profile" alt="Imagen Adrian">
            <div class="card-body">
                <h5 class="card-title">Adrián Del Pozo Hernández</h5>
                <p class="card-text">Desarrollador de Videojuegos</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Programador Backend</li>
                <li class="list-group-item">Programador Fronted</li>
            </ul>
            <div class="card-body card-links">
                <a href="https://github.com/Adelpozo04" class="card-link">Github</a>
                <a href="mailto:addelp01@ucm.es" class="card-link">Correo UCM</a>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/img/Cristina.jpg}" src="/img/Cristina.jpg" class="card-img-profile" alt="Imagen Cristina">
            <div class="card-body">
                <h5 class="card-title">Cristina Muñoz Muñoz</h5>
                <p class="card-text">Desarrolladora de Videojuegos</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Programadora Backend</li>
                <li class="list-group-item">Programadora Fronted</li>
            </ul>
            <div class="card-body card-links">
                <a href="https://github.com/xtina2434" class="card-link">Github</a>
                <a href="mailto:crmuno10@ucm.es" class="card-link">Correo UCM</a>
            </div>
        </div>

        <div class="card">
            <img th:src="@{/img/Oscar.jpg}" src="/img/Oscar.jpg" class="card-img-profile" alt="Imagen Oscar">
            <div class="card-body">
                <h5 class="card-title">Óscar Pineda German</h5>
                <p class="card-text">Ingenierio de Computadores</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Programador Backend</li>
                <li class="list-group-item">Programador Fronted</li>
            </ul>
            <div class="card-body card-links">
                <a href="https://github.com/oscarFPG" class="card-link">Github</a>
                <a href="mailto:opineda@ucm.es" class="card-link">Correo UCM</a>
            </div>
        </div>

    </div>

    

</body>

</html>