<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Comunidad</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <h1>Vista de Comunidad</h1>

        <div class="d-flex flex-row h-100">
            <h3>Recetas en carpetas--</h3>
            <h3>Miembros--</h3>
            <h3>Ranking</h3>

        </div>

        <div>
            <h3>Datos</h3>

        </div>
        
    </main>
    
</body>

</html>