<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <link rel="stylesheet" th:href="@{/css/communities.css}" href="/css/communities.css"
        type="text/css"/>
    <title>Mis comunidades</title>
</head>
<body>
    
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <h1>Explorar comunidades</h1>

    <!-- Barra de busqueda de bootstrap -->
    <div class="row justify-content-center mb-4" id="search-community-bar">
        <div class="col-md-6">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar comunidades..." aria-label="Search"/>
                <button class="btn btn-busqueda" type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <th:block th:if="${u}">
        <div class="explorer_wrapper">
            <div class="category_list">
                <a th:href="@{/communities/create}" class="category_item" category="own" id="create-community">Crear comunidad</a>
            </div>
        </div>
    </th:block>

    <!-- Lista de comunidades del usuario -->
    <section class="comunities-list">

        <details open>
            <summary class="communities-dropdown">Mis comunidades</summary>

            <div th:if="${#lists.isEmpty(myCommunities)}" class="no-communities">
                <p>No estás en ninguna comunidad. ¡Únete a una o crea la tuya propia!</p>
            </div>
            <div class="card-grid" th:if="${!#lists.isEmpty(myCommunities)}">
                <a class="card"
                    th:each="community : ${myCommunities}"
                    th:href="@{/communities/{id}(id=${community.id})}"
                    th:id="'community-' + ${community.id}">

                    <div class="card__background" 
                    th:style="'background-image: url(' + @{/img/communities/default-image.png} + ')'"></div>
                    <div class="card__content">
                        <p class="card__category" th:utext="|${community.country.countryName} ${community.country.emoji}|"></p>
                        <h3 class="card__heading" th:text="${community.title}"></h3>
                    </div>

                    <form class="form-delete" th:if="${session.u != null && (session.u.hasRole('ADMIN') || community.owner.id == session.u.id)}"
                        th:action="@{/communities/{id}/delete(id=${community.id})}" method="post">
                        <button type="submit" class="btn btn-danger btn-sm btn_delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </button>
                    </form>
                </a>
            </div>
        </details>

    </section>

    <!-- Lista de comunidades genericas -->
    <section class="comunities-list">
        
        <details open>
            <summary class="communities-dropdown">Otras comunidades</summary>

            <div th:if="${#lists.isEmpty(otherCommunities)}" class="no-communities">
                <p>No estás en ninguna comunidad. ¡Únete a una o crea la tuya propia!</p>
            </div>
            <div class="card-grid" th:if="${!#lists.isEmpty(otherCommunities)}">
                <a class="card"
                    th:each="community : ${otherCommunities}"
                    th:href="@{/communities/{id}(id=${community.id})}"
                    th:id="'community-' + ${community.id}">

                    <div class="card__background" 
                    th:style="'background-image: url(' + @{/img/communities/default-image.png} + ')'"></div>
                    <div class="card__content">
                        <p class="card__category" th:utext="|${community.country.countryName} ${community.country.emoji}|"></p>
                        <h3 class="card__heading" th:text="${community.title}"></h3>
                    </div>

                    <form class="form-delete" th:if="${session.u != null && (session.u.hasRole('ADMIN') || community.owner.id == session.u.id)}"
                        th:action="@{/communities/{id}/delete(id=${community.id})}" method="post">
                        <button type="submit" class="btn btn-danger btn-sm btn_delete">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </button>
                    </form>
                </a>
                
            </div>
            
        </details>        

    </section>
    
    <th:block th:replace="~{fragments/footer.html :: footer}" />

</body>
</html>