<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Evento</title>

    <link rel="stylesheet" th:href="@{/css/event.css}" href="css/event.css"/>

    <script th:src="@{/js/event.js}"></script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container py-5">

            <h1>Explora eventos</h1>

            <!-- Barra de busqueda de bootstrap -->
            <div class="row justify-content-center mb-4">
                <div class="col-md-6">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar eventos..." aria-label="Search"/>
                        <button class="btn btn-busqueda" type="submit">Buscar</button>
                    </form>
                </div>
            </div>

            <!-- Filtros -->
            <div class="explorer_wrapper">

                <th:block th:if="${u}">
                    <div class="explorer_wrapper">
                        <div class="category_list">
                            <a href="#" class="category_item ct_item_active" category="all">Todos</a>
                            <a href="#" class="category_item" category="own">Mis eventos</a>
                        </div>
                    </div>
                </th:block>

                <!-- Fotos lista de eventos -->
                <section class="events_list">
                    <div class="event_item" category="own">
                        <a th:href="@{/reserve}" class="event_card_link">
                            <img th:src="@{/img/events/ev_espana.jpg}" src="/img/events/ev_espana.jpg" alt="ev_espana">
                            <span class="event_title">Evento paella</span>
                        </a>

                        <!-- Boton papelera (solo visible para Admin) -->
                        <button th:if="${session.u != null && session.u.hasRole('ADMIN')}"
                        class="btn btn-danger btn-sm mt-2 btn-delete-event">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </div>

                    <div class="event_item" category="">
                        <a th:href="@{/reserve}" class="event_card_link">
                            <img th:src="@{/img/events/ev_italia.jpg}" src="/img/events/ev_italia.jpg" alt="ev_italia">
                            <span class="event_title">Evento pizza</span>
                        </a>
                        <!-- Boton papelera (solo visible para Admin) -->
                        <button th:if="${session.u != null && session.u.hasRole('ADMIN')}"
                        class="btn btn-danger btn-sm mt-2 btn-delete-event">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </div>

                    <div class="event_item" category="">
                        <a th:href="@{/reserve}" class="event_card_link">
                            <img th:src="@{/img/events/ev_japon.jpg}" src="/img/events/ev_japon.jpg" alt="ev_japon">
                            <span class="event_title">Evento sushi</span>
                        </a>
                        <!-- Boton papelera (solo visible para Admin) -->
                        <button th:if="${session.u != null && session.u.hasRole('ADMIN')}"
                        class="btn btn-danger btn-sm mt-2 btn-delete-event">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </div>
                </section>

            </div>
        </div>  
    </main>
    
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>