<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Evento</title>

    <link rel="stylesheet" th:href="@{/css/event.css}" href="css/event.css"/>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container py-5">
            <h1>Explora eventos</h1>

            <div class="explorer_wrapper">
                <div class="category_list">
                    <a href="#" class="category_item ct_item_active" category="all">Todos</a>
                    <a href="#" class="category_item" category="own">Mis eventos</a>
                </div>
                <section class="events_list">
                    <div class="event_item" category="own">
                        <img th:src="@{/img/events/ev_espana.jpg}" src="/img/events/ev_espana.jpg" alt="ev_espana">
                        <a href="#">Evento paella</a>
                    </div>
                    <div class="event_item" category="">
                        <img th:src="@{/img/events/ev_italia.jpg}" src="/img/events/ev_italia.jpg" alt="ev_italia">
                        <a href="#">Evento pizza</a>
                    </div>
                    <div class="event_item" category="">
                        <img th:src="@{/img/events/ev_japon.jpg}" src="/img/events/ev_japon.jpg" alt="ev_japon">
                        <a href="#">Evento sushi</a>
                    </div>
                </section>
            </div>
        </div>  
    </main>
    
</body>

</html>