<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Receta</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 column-gap-3 row-gap-5 recipe_wrapper">
        
        <th:block th:if="${u}">
        <div class="explorer_wrapper">
            <div class="category_list">
                <a th:href="@{/recipe/create}" class="category_item" category="own" id="create-recipe">Crear receta</a>
            </div>
        </div>
        </th:block>

        <section class="cards_list">
            <div class="card_item" th:each="recip: ${recipes}" 
            th:attr="category=${session.u != null and recip.author != null and recip.author.id == session.u.id ? 'own' : 'none'}">
                <a th:href="@{/recipeInfo/{id}(id=${recip.id})}" class="card_link">
                    <img th:src="@{/img/recipes/{id}_cover.jpg(id=${recip.id})}" alt="Imagen de la receta">
                    <span class="card_footer" th:text="${recip.title}">Título</span>
                </a>
                
            </div>

        </section>
        
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    
</body>

</html>