<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Informacion de Receta</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css"
        type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0 column-gap-3 row-gap-5 recipe_wrapper">

        <a href="javascript:history.back()" class="btn-volver"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>

        <!--Apartado principal principal de la receta-->
        <div class="d-flex flex-column align-items-center">

            <!-- Titulo -->
            <h1 th:text="${recipe.title}" class="title_xxl border-0 text-center"></h1>

            <!-- Imagen de vista previa -->
            <div>
                <img class="main_image" th:src="@{/img/recipes/{id}_cover.jpg(id=${recipe.id})}" alt="Imagen de la receta">
            </div>        
            
        </div>

        <div>
            <h3>Datos Generales</h3>

            <div for="time" class="d-flex flex-row ml-3">
                <p th:text="'Tiempo de preparación: ' + ${recipe.time}"></p>
            </div>

            <div for="difficulty" class="d-flex flex-row">
                <p th:text="'Nivel de dificultad: ' + ${recipe.difficulty}"></p>
            </div>

        </div>

        <!--Ingredientes de la receta-->
        <div>

            <h3>Ingredientes</h3>
            <ul th:each="ingredient, iterStat : ${recipe.ingredients}" id="ingredientsList">

                <li class="mb-3">                    
                    <p th:text="${ingredient.name} + ' ' + ${ingredient.quantity}"></p> 
                </li>

            </ul>

                
        </div>

        <!--Pasos para elaborar la receta-->
            <div>
                <h3>Elaboración</h3>
                <ol th:each="step, iterStat : ${recipe.steps}" id="stepsList">

                    <li class="mb-3">
                        <img class="main_image" 
                        th:src="@{/img/recipes/{id}_step{index}.jpg(id=${recipe.id}, index=${iterStat.index})}" 
                        alt="Imagen de la receta">
                        
                        <p th:text="${step}"></p> 
                    </li>

                </ol>

            </div>
        

    </main>
    
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>