<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <link rel="stylesheet" th:href="@{/css/communities.css}" href="/css/communities.css"
        type="text/css"/>
    <title>Vista crear comunidad</title>
</head>
<body>

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="container mt-5">
        <!-- Boton para volver -->
        <a href="javascript:history.back()" class="btn-volver"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>
        <h2>Crear nueva comunidad</h2>

        <p th:if="${createError == true}" class="error">
           Debes rellenar los campos obligatorios
        </p>

        <form th:action="@{/communities/create}" th:object="${community}" method="post">

            <div class="mb-3">
                <label for="community-title" class="form-label">Título de la comunidad(*)</label>
                <input th:field="*{title}" class="form-control" type="text">
            </div>

            <div class="mb-3">
                <label for="community-country" class="form-label">País(*)</label>
                <select name="countryID" class="form-select">
                    <option value="" disabled selected>Selecciona un país</option>
                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.countryName}"></option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="community-desc" class="form-label">Descripción(*)</label>
                <textarea th:field="*{description}" class="form-control" rows="2"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary" id="create-button">Crear comunidad</button>
        </form>
    </div>

</body>
</html>